  <div class="card-category" style="background-image: url('https://res.cloudinary.com/dpsozxpdq/image/upload/v1700221786/banner.jpg')">

    <h1>Create your own List</h1>
    <br>

    <%= link_to  new_list_path, class:'ms-3' do%>
      <div class="btn btn-light" ></button>click here </div>
    <% end %>

  </div>


<div class= container>
  <div class="card">
    <h1>Your lists <i class="fa-solid fa-film"></i></h1>
    <ul>
      <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list)%></li>
      <% end %>
    </ul>
      <br>
  </div>
</div>
